*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

a{
    text-decoration: none;
    color: #fff;
}

.wrapper{
    height: 100%;
    width: 100%;
}

.heading{
    margin-bottom: 3rem;
    letter-spacing: 1;
    text-align: center;
}

.nav-bar{
    height: 3.5rem;
    background-color: rgb(27, 27, 54);
}

.nav-bar ul{
    cursor: pointer;
    color:#fff;
    padding: 0 5rem;
    height: 3.5rem;
    gap:20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-bar ul li:hover{
    background-color: rgb(43, 43, 91);
    color: black;
    padding: 0.5rem;
}

.company-head{
    background-color: rgba(123, 123, 227, 0.864);
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.company-head h1{
    font-weight: 500;
    font-size: 3rem;
    top: 300px;
    position: absolute;
    color: #fff;
}

.company-head h3{
    font-size: 2rem;
    top:370px;
    position: absolute;
    color: red;
}

.leader-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    padding: 0 8rem;
}

.heading{
    font-size: 3rem;
    color: rgb(215, 62, 15);
    text-align: center;
}

.leader-p{
    font-size: 1.3rem;
    text-align: center;
}

.card-container{
    width: 100%;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-container .image{
    object-fit: cover;
}

.card{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.desc{
    text-align: center;
}

.test{
    height:  7rem;
    background-color: rgb(12, 12, 44);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.numbers{
    text-align: center;
    color: rgb(156, 42, 11);
}

.xyz{
    color: #fff;
}